# Ignore node_modules and other development directories/files
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Ignore PDF files
*.pdf

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.svg
*.webp
*.ico

# Ignore other common binary files (if needed)
*.mp3
*.mp4
*.mov
*.avi
*.mkv
*.zip
*.tar.gz
*.rar
